/* Таблица используемых цветов */

/* #282E33 - светлый фон для тёмной темы */
/* #272822 - monokai фон */
/* #18191D - Тёмный фон */
/* #65AADD - синий цвет */
/* #F92672 - monokai розовй */
/* #A6E22E - monokai зелёный */
/* #F8F8F0 - monokai белый */

body {
    background: #18191D;
}

.application {
    justify-content: center;
}

.cell {
    min-height: 35px;
    min-width: 35px;
    height: 35px;
    width: 35px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cell_row {
    width: 100%;
    height: 100%;
}

.cell_empty { background: #282E33; }
.cell_waiting { background: #F92672; }

.cell_wrap {
    /*padding: 5px;*/
    background: #272822;
    /*min-height: 40px;
    min-width: 40px;
    height: 40px;
    width: 40px;*/
}

.cell_wrap:hover,
.cell_waitingSelect {
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
    box-shadow:0 0 10px white;
}

.cell_green { background: #A6E22E!important; }
.cell_red { background: darkred!important; }
.cell_magenta { background: #F92672!important; }
.cell_blue { background: #65AADD!important; }

/* CELL_CONNECT: */

.cell_connect {
    height: 100%;
    width: 100%;
}

.cell_connect_empty {

}

.cell_connect_diagonalLeft {
    border: none;
    background-color: #F8F8F0;
    color: aqua;
    height: 4px;
    width: 100%;
    -moz-transform: rotate(7.5deg);
    -o-transform: rotate(7.5deg);
    -webkit-transform: rotate(7.5deg);
    -ms-transform: rotate(7.5deg);
    transform: rotate(45deg);
}

.cell_connect_diagonalRight {
    border: none;
    background-color: #F8F8F0;
    color: aqua;
    height: 4px;
    width: 100%;
    -moz-transform: rotate(7.5deg);
    -o-transform: rotate(7.5deg);
    -webkit-transform: rotate(7.5deg);
    -ms-transform: rotate(7.5deg);
    transform: rotate(45deg);
}

.cell_connect_line {
    border: none;
    background-color: #F8F8F0;
    color: aqua;
    height: 4px;
    width: 100%;
    -moz-transform: rotate(7.5deg);
    -o-transform: rotate(7.5deg);
    -webkit-transform: rotate(7.5deg);
    -ms-transform: rotate(7.5deg);
    transform: rotate(0deg);
}

/* COMMON: */

.flex {
    display: flex;
}

.justifySpaceBetween {
    justify-content: space-between;
}

.cell_wrap,
.justifyCenter {
    justify-content: center;
}

/* example */
.additionalBorderForSelect {
    border: 3px white solid;
}