/* Таблица используемых цветов */

/* #282E33 - светлый фон для тёмной темы */
/* #272822 - monokai фон */
/* #18191D - Тёмный фон */
/* #65AADD - синий цвет */
/* #F92672 - monokai розовй */
/* #A6E22E - monokai зелёный */
/* #F8F8F0 - monokai белый */

body {
    background: #18191D;
}

.application {
    justify-content: center;
}

.cell {
    min-height: 35px;
    min-width: 35px;
    height: 35px;
    width: 35px;
    /*margin: 4px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cell_empty { background: #282E33; }
.cell_waiting { background: #F92672; }

/* common */

.flex {
    display: flex;
}